.princess-sofia-regular {
  font-family: "Princess Sofia", cursive;
  font-weight: 400;
  font-style: normal;
}

.fuzzy-bubbles-regular {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* .fuzzy-bubbles-bold {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 700;
  font-style: normal;
} */


/* --------- */

body {
    background-color: rgb(160, 109, 57);
}

header {
    border: solid 6px burlywood;
    border-radius: 3px;
}

h1 {
    font-family: "Princess Sofia", cursive;
    font-size: 3.5em;
    color: rgb(72, 39, 5);
    text-align: center;
}

main {
    margin-top: 3em;
}

h2 {
    font-family: "Fuzzy Bubbles", sans-serif;
    font-size: 1.5em;
    color: rgb(72, 39, 5);
    text-align: center;
}