.kavoon-regular {
  font-family: "Kavoon", serif;
  font-weight: 400;
  font-style: normal;
}

.kdam-thmor-pro-regular {
  font-family: "Kdam Thmor Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* ------------------------ */

body {
    max-width: 1200px;
    background-image: url(images/starry-bg-plain.png);
    background-repeat: no-repeat;
}

header {
    height: 125px;
    margin-top: 80px;
}

h1 {
    color: white;
    font-family: "Kavoon", serif;
    font-size: 50px;
    text-align: center;
}

h2 {
    color: white;
    font-family: "Kdam Thmor Pro", serif;
    font-size: 24px;
}

p {
    color: white;
    font-family: "Kdam Thmor Pro", serif;
    font-size: 20px;
    line-height: 40px;
}

#body-inner {
    min-width: 1200px;
    max-width: 1200px;
    min-height: 750px;
    max-height: 750px;
    position: relative;
}

#header-and-main-container {
    display: flex;
    gap: 60px;
}

header {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    flex: 2;
}

header h2 {
    margin-left: 100px;
}

#form {
    margin-top: 10px;
    margin-left: 110px;
}

#adverb, #verb1, #plural-noun1, #verb2, #plural-noun2, #adj1, #verb3, #adj2 {
    font-size: 16px;
    width: 120px;
    margin-bottom: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
}

main {
    margin: 20px;
    flex: 3;
}

article {
    margin: 110px 120px 0px 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #5D91FF;
    border-radius: 2px;
}

section #cloud1 {
    position: absolute;
    top: 65px;
    left: 650px;
}

section #cloud2 {
    position: absolute;
    top: 155px;
    left: 960px;
}

section #cloud3 {
    position: absolute;
    top: 255px;
    left: 600px;
}

section #cloud4 {
    position: absolute;
    top: 280px;
    left: 770px;
}

section #cloud5 {
    position: absolute;
    top: 500px;
    left: 900px;
}

section #cloud6 {
    position: absolute;
    top: 510px;
    left: 580px;
}

section #tiny-cloud1 {
    position: absolute;
    top: 280px;
    left: 1090px;
}

section #tiny-cloud2 {
    position: absolute;
    top: 430px;
    left: 500px;
}

section #tiny-cloud3 {
    position: absolute;
    top: 550px;
    left: 1070px;
}

footer {
    display: flex;
    gap: 15px;
    margin-left: 800px;
}

footer p, footer p a {
    color: #4DBEFF;
}