body {
    background-color: #FFF5D3;
    max-width: 1200px;
    max-height: 750px;
}

/* -- Title Page -- */

#title-page {
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#start-game {
    border: 8px dotted #FBD055;
    cursor: pointer;
}

/* -- Gameplay -- */

#game-header {
    margin: 0 10px 0 10px;
    display: flex;
    justify-content: space-between;
    display: none;
}


/* -- Casting Overlay -- */

#cast-overlay {
    margin: auto;
    margin-top: 50px;
    width: 565px;
    height: 385px;
    background-image: url(images/casting-overlay.png);
    display: none;
}

#cast-overlay header  {
    padding-top: 10px;
    display: flex;
    justify-content: center; 
}

#sun-icon, #moon-icon {
    display: none;
}

#cast-overlay section {
    margin-top: 40px;
    /* display: flex; */
    display: none;
}

#cast-cloud, #cast-star, #cast-clear {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 171px;
    height: 76px;
    /* display: none; */
    cursor: pointer;
}

#skygaze-btn {
    justify-content: center;
    display: none;
}



/* -- Main -- */

#score {
    margin: 0 110px 0 110px;
    display: flex;
    justify-content: space-between;
}

#left-points, #right-points {
    display: flex;
}

#left-points {
    justify-content: left;
}

#right-points {
    justify-content: right;
}

#left-1p, #left-2p, #left-3p, #left-4p, #left-5p, #right-1p, #right-2p, #right-3p, #right-4p, #right-5p {
    display: none;
}

#avatars-and-weather {
    justify-content: space-between;
    display: none;
}

#p1-avatar-section, #p2-avatar-section {
    display: flex;
    flex-direction: column;
}

#p1-avatar-cloud, #p1-avatar-clear, #p1-avatar-star, #p2-avatar-cloud, #p2-avatar-clear, #p2-avatar-star {
    display: none;
}

#weather-section {
    display: flex;
}

#weather-cloud, #weather-clear, #weather-star {
    display: none;
}

#round-results {
    position: relative;
    bottom: 90px;
    display: flex;
    justify-content: center;
}

#rr-sun, #rr-moon, #rr-draw {
    display: none;
}

#time-to-cast {
    position: absolute;
    top: 200px;
    left: 500px;
    background-color: #FFF5D3;
    padding: 10px;
    display: none;
}
