.kavoon-regular {
  font-family: "Kavoon", serif;
  font-weight: 400;
  font-style: normal;
}

.kdam-thmor-pro-regular {
  font-family: "Kdam Thmor Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* ------------------------ */

body {
    max-width: 1200px;
    background-image: url(images/starry-bg-plain.png);
    background-repeat: no-repeat;
}

header {
    height: 125px;
    margin-top: 80px;
}

h1 {
    color: white;
    font-family: "Kavoon", serif;
    font-size: 50px;
    text-align: center;
}

h2 {
    color: white;
    font-family: "Kdam Thmor Pro", serif;
    font-size: 24px;
}

p {
    color: white;
    font-family: "Kdam Thmor Pro", serif;
    font-size: 20px;
    line-height: 40px;
}

#body-inner {
    min-width: 1200px;
    max-width: 1200px;
    min-height: 750px;
    max-height: 750px;
    position: relative;
}

#header-and-main-container {
    display: flex;
    gap: 60px;
}

header {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    flex: 2;
}

header h2 {
    margin-left: 100px;
}

#madlib-form {
    margin-left: 110px;
}

/* ------------------- */

label[for="name"], #name {
    display: inline;
}

input[type="text"] { 
    width: 20ch;
    outline: none; 
    border: 4px dashed transparent;        
    border-bottom: 4px dashed white; 
    padding: 3px;
    padding-left: 7px;
    font-size: 1em; 
    font-weight: bold;
    text-transform: lowercase; 
    background-color:transparent;  
    color:white;     
}

input[type="text"]::placeholder {
    color:#5D91FF;
}

input[type="text"]:focus {          
    border: 4px dashed white; 
    border-style: dotted dashed solid double;
    color: white;
    background-color: transparent;       
}

/* ------------------- */

input[type="submit"] {
    padding: .5em;
    border: 0;
    border-radius: 12px;
    font-size: 1em;
    font-weight: bold;
    background-color: #5D91FF;
    color: white;
}

input[type="submit"]:hover {
    background-color: white;
    color:#4DBEFF;
}

/* ---------------------- */

article span {
    font-weight: bold;
}

main {
    margin: 20px;
    flex: 3;
}

article {
    margin: 110px 120px 0px 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #5D91FF;
    border-radius: 2px;
}

section div {
    position: absolute;
    transition: all 1s ease;
}

section #cloud1 {
    top: 65px;
    left: 650px;
}

section #cloud2 {
    top: 155px;
    left: 960px;
}

section #cloud3 {
    top: 255px;
    left: 600px;
}

section #cloud4 {
    top: 280px;
    left: 770px;
}

section #cloud5 {
    top: 500px;
    left: 900px;
}

section #cloud6 {
    top: 510px;
    left: 580px;
}

section #tiny-cloud1 {
    top: 280px;
    left: 1090px;
}

section #tiny-cloud2 {
    top: 430px;
    left: 500px;
}

section #tiny-cloud3 {
    top: 550px;
    left: 1070px;
}

footer {
    position: relative;
    top: -28px;
    display: flex;
    gap: 15px;
    margin-left: 860px;
}

footer p, footer p a {
    font-size: 16px;
    color: #4DBEFF;
}