.kavoon-regular {
  font-family: "Kavoon", serif;
  font-weight: 400;
  font-style: normal;
}

.kdam-thmor-pro-regular {
  font-family: "Kdam Thmor Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* ------------------------ */

body {
    max-width: 1200px;
    min-width: 1200px;
    background-image: url(images/starry-bg-plain.png);
    background-repeat: no-repeat;
}

header {
    height: 125px;
    margin-top: 70px;
    margin-left: 10%;
    margin-right: 32.5%;
}

h1 {
    color: white;
    font-family: "Kavoon", serif;
    font-size: 50px;
}

h2 {
    color: white;
    font-family: "Kavoon", serif;
    font-size: 20px;
}

p, a {
    color: white;
    font-family: "Kdam Thmor Pro", serif;
    font-size: 14px;
}

main {
    display: flex;
    gap: 20px;
    width: 1200px;
    height: 500px;
    margin-left: 10px;
    /* absolute position 'to' it! */
}

article {
    flex: 1;
    background-color: #5D91FF;
    border-radius: 20px;
    padding: 10px;
}

/* ______________________________________ */

footer {
    display: flex;
    gap: 15px;
    margin-left: 20px;
}

footer p, footer p a {
    color: #4DBEFF;
}

